/**
 * Alert styling.
 */
.alert-sm {
  padding: 5px 10px;
}
.alert a {
  font-weight: bold;
}
.alert-success a,
.alert-success a:hover,
.alert-success a:focus {
  color: #2b542c;
}
.alert-info a,
.alert-info a:hover,
.alert-info a:focus {
  color: #245269;
}
.alert-warning a,
.alert-warning a:hover,
.alert-warning a:focus {
  color: #66512c;
}
.alert-danger a,
.alert-danger a:hover,
.alert-danger a:focus {
  color: #843534;
}
/**
 * AJAX (throbber) styling.
 */
@keyframes glyphicon-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.glyphicon-spin {
  display: inline-block;
  animation: glyphicon-spin 1s infinite linear;
}
a .glyphicon-spin {
  display: inline-block;
  text-decoration: none;
}
html.js .btn .ajax-throbber {
  margin-left: 0.5em;
  margin-right: -0.25em;
}
html.js .form-item .input-group-addon .glyphicon {
  color: #777777;
  opacity: 0.5;
  transition: 150ms color, 150ms opacity;
}
html.js .form-item .input-group-addon .glyphicon.glyphicon-spin {
  color: #337ab7;
  opacity: 1;
}
html.js .form-item .input-group-addon .input-group-addon {
  background-color: #ffffff;
}
html.js .ajax-new-content:empty {
  display: none !important;
}
/**
 * @file
 * Visual styles for fields.
 */
.field--label {
  font-weight: bold;
}
.field--label-inline .field--label,
.field--label-inline .field--items {
  float: left;
  /*LTR*/
}
.field--label-inline .field--label,
.field--label-inline > .field--item,
.field--label-inline .field--items {
  padding-right: 0.5em;
}
[dir="rtl"] .field--label-inline .field--label,
[dir="rtl"] .field--label-inline .field--items {
  padding-left: 0.5em;
  padding-right: 0;
  float: right;
  /*RTL*/
}
.field--label-inline .field--label::after {
  content: ':';
}
/**
 * File (and Image Widget) styles.
 */
.file {
  display: table;
  font-size: 75%;
  font-weight: 700;
  margin: 5px 0;
  width: 100%;
}
.file > span {
  background: #fff;
  color: #337ab7;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.file > span:first-child {
  border-left: 1px solid #ccc;
}
.file > span:last-child {
  border-right: 1px solid #ccc;
}
.file > .tabledrag-changed {
  background: #fcf8e3;
  border-radius: 0;
  color: #8a6d3b;
  display: table-cell;
  padding: 0 1em;
  top: 0;
  vertical-align: middle;
  border-left: 1px solid inherit;
}
.file > .tabledrag-changed,
.file > .tabledrag-changed:last-child {
  border: 1px solid #f7e1b5;
}
.file-icon {
  display: table-cell;
  font-size: 150%;
  padding: 0.25em 0.5em;
  text-align: center;
  vertical-align: middle;
}
.file-link {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
.file-link a,
.file-link a:hover,
.file-link a:focus,
.file-link a:active {
  color: inherit;
}
.file-size {
  display: table-cell;
  padding: 0 1em;
  text-align: right;
  white-space: pre;
  vertical-align: middle;
}
.image-widget.row {
  overflow: hidden;
}
/**
 * Filter styles.
 */
.filter-wrapper {
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 0;
  padding: 10px;
  height: 51px;
}
.filter-help {
  float: right;
  line-height: 1;
  margin: 0.5em 0 0;
}
.nav.nav-tabs.filter-formats {
  margin-bottom: 15px;
}
/**
 * Form styles.
 */
table .checkbox.form-no-label,
table .radio.form-no-label {
  margin-bottom: 0;
  margin-top: 0;
}
.select-wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
}
.form-inline .select-wrapper {
  width: auto;
}
.input-group .select-wrapper {
  display: table-cell;
}
.input-group .select-wrapper:first-child .form-control:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.input-group .select-wrapper:last-child .form-control:first-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.select-wrapper select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: 1;
  padding-right: 2em;
}
.select-wrapper select::-ms-expand {
  opacity: 0;
}
.select-wrapper:after {
  color: #337ab7;
  content: '▼';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  margin-top: -0.5em;
  padding-right: 0.5em;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 10;
}
.has-glyphicons .select-wrapper:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\e114';
  display: inline-block;
  font-family: 'Glyphicons Halflings';
}
.has-error .select-wrapper:after {
  color: #a94442;
}
.has-success .select-wrapper:after {
  color: #3c763d;
}
.has-warning .select-wrapper:after {
  color: #8a6d3b;
}
.form-required:after {
  background-image: url('../images/required.svg');
  background-size: 10px 7px;
  content: "";
  display: inline-block;
  vertical-align: super;
  line-height: 1;
  height: 7px;
  width: 10px;
}
.form-actions .btn,
.form-actions .btn-group {
  margin-right: 10px;
}
.form-actions .btn-group .btn {
  margin-right: 0;
}
/**
 * Icon styles.
 */
a.icon-before .glyphicon,
a .glyphicon.icon-before {
  margin-right: 0.25em;
}
a.icon-after .glyphicon,
a .glyphicon.icon-after {
  margin-left: 0.25em;
}
.btn.icon-before .glyphicon,
.btn .glyphicon.icon-before {
  margin-left: -0.25em;
  margin-right: 0.25em;
}
.btn.icon-after .glyphicon,
.btn .glyphicon.icon-after {
  margin-left: 0.25em;
  margin-right: -0.25em;
}
/**
 * Navbar styling.
 */
body {
  position: relative;
}
body.navbar-is-static-top {
  margin-top: 0;
}
body.navbar-is-fixed-top {
  margin-top: 65px;
}
body.navbar-is-fixed-bottom {
  padding-bottom: 65px;
}
@media screen and (min-width: 768px) {
  body {
    margin-top: 15px;
  }
}
@media screen and (max-width: 767px) {
  body.toolbar-vertical.navbar-is-fixed-top .toolbar-bar,
  body.toolbar-vertical.navbar-is-fixed-bottom .toolbar-bar {
    position: fixed;
  }
  body.toolbar-vertical.navbar-is-fixed-top header,
  body.toolbar-vertical.navbar-is-fixed-bottom header {
    z-index: 500;
  }
  body.toolbar-vertical.navbar-is-fixed-top header {
    top: 39px;
  }
}
@media screen and (min-width: 768px) {
  .navbar.container {
    max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .navbar.container {
    max-width: 940px;
  }
}
@media screen and (min-width: 1200px) {
  .navbar.container {
    max-width: 1140px;
  }
}
.navbar .logo {
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .navbar .logo {
    margin-right: 0;
    padding-left: 0;
  }
}
/**
 * Node styling.
 */
.is-unpublished {
  background-color: #fff4f4;
}
.node-preview-container {
  margin-top: -15px;
}
.node-preview-form-select {
  padding: 15px;
}
/**
 * Panel styling.
 */
.panel-title {
  display: block;
  margin: -10px -15px;
  padding: 10px 15px;
}
.panel-title,
.panel-title:hover,
.panel-title:focus,
.panel-title:hover:focus {
  color: inherit;
}
.panel-title:focus,
.panel-title:hover {
  text-decoration: none;
}
/**
 * Progress bar styles.
 */
.progress-wrapper {
  margin-bottom: 15px;
}
.progress-wrapper:last-child .progress {
  margin-bottom: 5px;
}
.progress-wrapper .message {
  font-weight: 700;
  margin-bottom: 5px;
}
.progress-wrapper .percentage,
.progress-wrapper .progress-label {
  font-size: 12px;
}
.progress-wrapper .progress-bar {
  min-width: 2em;
}
/**
 * Table drag styles.
 */
.tabledrag-toggle-weight {
  float: right;
  margin: 1px 2px 1px 10px;
}
.tabledrag-changed-warning {
  margin: 0;
  overflow: hidden;
}
.tabledrag-handle {
  color: #777777;
  cursor: move;
  float: left;
  font-size: 125%;
  line-height: 1;
  margin: -10px 0 0 -10px;
  padding: 10px;
}
.tabledrag-handle:hover,
.tabledrag-handle:focus {
  color: #337ab7;
}
.indentation {
  float: left;
  /* LTR */
  height: 1.7em;
  margin: -0.4em 0.2em -0.4em -0.4em;
  /* LTR */
  padding: 0.42em 0 0.42em 0.6em;
  /* LTR */
  width: 20px;
}
[dir="rtl"] .indentation {
  float: right;
  margin: -0.4em -0.4em -0.4em 0.2em;
  padding: 0.42em 0.6em 0.42em 0;
}
/**
 * Tabs and local action styles.
 */
.local-actions {
  margin: 10px 0 10px -5px;
}
.tabs--secondary {
  margin: 10px 0 5px;
}
/**
 * Missing Bootstrap 2 tab styling.
 * @see http://stackoverflow.com/questions/18432577/stacked-tabs-in-bootstrap-3
 * @see http://bootply.com/74926
 */
.tabbable {
  margin-bottom: 20px;
}
.tabs-below > .nav-tabs,
.tabs-left > .nav-tabs,
.tabs-right > .nav-tabs {
  border-bottom: 0;
}
.tabs-below > .nav-tabs .summary,
.tabs-left > .nav-tabs .summary,
.tabs-right > .nav-tabs .summary {
  color: #777777;
  font-size: 12px;
}
.tab-pane > .panel-heading {
  display: none;
}
.tab-content > .active {
  display: block;
}
.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}
.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}
.tabs-below > .nav-tabs > li > a {
  border-radius: 0 0 4px 4px;
}
.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}
.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}
.tabs-left > .nav-tabs,
.tabs-right > .nav-tabs {
  padding-bottom: 20px;
  width: 220px;
}
.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}
.tabs-left > .nav-tabs > li:focus,
.tabs-right > .nav-tabs > li:focus {
  outline: 0;
}
.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  margin-right: 0;
  margin-bottom: 3px;
}
.tabs-left > .nav-tabs > li > a:focus,
.tabs-right > .nav-tabs > li > a:focus {
  outline: 0;
}
.tabs-left > .tab-content,
.tabs-right > .tab-content {
  border-radius: 0 4px 4px 4px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  padding: 10px 15px;
}
.tabs-left > .nav-tabs {
  float: left;
  margin-right: -1px;
}
.tabs-left > .nav-tabs > li > a {
  border-radius: 4px 0 0 4px;
}
.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #ddd #eeeeee #eeeeee;
}
.tabs-left > .nav-tabs > .active > a,
.tabs-left > .nav-tabs > .active > a:hover,
.tabs-left > .nav-tabs > .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05);
}
.tabs-right > .nav-tabs {
  float: right;
  margin-left: -1px;
}
.tabs-right > .nav-tabs > li > a {
  border-radius: 0 4px 4px 0;
}
.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #ddd;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
}
.tabs-right > .nav-tabs > .active > a,
.tabs-right > .nav-tabs > .active > a:hover,
.tabs-right > .nav-tabs > .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
}
/**
 * Toolbar module styling.
 */
body.toolbar-fixed .toolbar-oriented .toolbar-bar {
  z-index: 1031;
}
body.toolbar-fixed .navbar-fixed-top {
  top: 39px;
}
body.toolbar-fixed.toolbar-horizontal.toolbar-tray-open .navbar-fixed-top {
  top: 79px;
}
body.toolbar-fixed.toolbar-vertical.toolbar-tray-open .navbar-fixed-top {
  left: 240px;
}
body.toolbar-fixed.toolbar-vertical.toolbar-tray-open.toolbar-fixed {
  margin-left: 240px;
}
body.toolbar-fixed.toolbar-vertical.toolbar-tray-open.toolbar-fixed .toolbar-tray {
  padding-bottom: 40px;
}
body.toolbar-fixed.toolbar-vertical.toolbar-tray-open.toolbar-fixed .toolbar-tray,
body.toolbar-fixed.toolbar-vertical.toolbar-tray-open.toolbar-fixed .toolbar-tray > .toolbar-lining:before {
  width: 240px;
}
body.toolbar-loading {
  margin-top: 0;
}
body.toolbar-loading.toolbar {
  margin-bottom: 15px;
}
/**
 * jQuery UI autocomplete widget style overrides.
 *
 * @todo Remove once jQuery UI is no longer used?
 */
.ui-autocomplete {
  background: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  color: inherit;
  font-family: "FreeSans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  list-style: none;
  min-width: 160px;
  padding: 5px 0;
  text-align: left;
  z-index: 1000;
}
.ui-autocomplete .ui-menu-item {
  border: 0;
  border-radius: 0;
  clear: both;
  color: #333333;
  cursor: pointer;
  display: block;
  font-weight: normal;
  line-height: 1.42857143;
  margin: 0;
  outline: 0;
  padding: 3px 20px;
  text-decoration: none;
  white-space: nowrap;
}
.ui-autocomplete .ui-menu-item.ui-state-hover {
  background: #f5f5f5;
  color: #262626;
}
.ui-autocomplete .ui-menu-item.ui-state-active,
.ui-autocomplete .ui-menu-item.ui-state-focus {
  background: #337ab7;
  color: #fff;
}
ol,
ul {
  padding-left: 1.5em;
}
.popover ol:last-child,
.popover ul:last-child {
  margin-bottom: 0;
}
.page-header {
  margin-top: 0;
}
.footer {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: 1px solid #E5E5E5;
}
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}
.region-help > .glyphicon {
  font-size: 18px;
  float: left;
  margin: -0.05em 0.5em 0 0;
}
.region-help .block {
  overflow: hidden;
}
.help-block,
.control-group .help-inline {
  color: #777777;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
}
.help-block:first-child,
.control-group .help-inline:first-child {
  margin-top: 0;
}
