/* Footer */

.footer {
  color: #FFF;
  border: none !important;
}
.footer a { color: #729fcf; }
.footer a:hover { color: #FFF; }
.footer h4 { font-weight: bold; }
.footer li { list-style: none; line-height: 1.5em; }
.footer .copyright { font-size: 0.9em; text-align: center; width: 80%; margin-top: 1em; border-top: 1px solid #111; padding: 1em; }

