
<div class="container copyright">
	<p>Send your feedback on our translations and new translations of pages to <a href="mailto:campaigns@fsf.org">campaigns@fsf.org</a>.</p>

	<p>Copyright © 2013–{{ "now"|date("Y") }} <a href="//fsf.org/about/contact.html" title="Find out how to contact us">Free Software Foundation</a>, Inc.
	<a href="https://www.fsf.org/about/free-software-foundation-privacy-policy">Privacy Policy</a>, <a href="/weblabels" rel="jslicense">JavaScript license information</a>
        </p>

	<p>This work is licensed under a <a href="https://creativecommons.org/licenses/by-nd/3.0/">Creative
				Commons Attribution-No Derivative Works 3.0 license (or later
				version)</a> — <a href="https://www.gnu.org/licenses/license-list.html#OpinionLicenses">Why this license?</a>
	</p>
</div>


<!-- Piwik -->
<script type="text/javascript">
// @license magnet:?xt=urn:btih:e95b018ef3580986a04669f1b5879592219e2a7a&dn=public-domain.txt Public Domain
  var _paq = _paq || [];
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://piwik.fsf.org/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "17"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
// @license-end
</script>
<!-- End Piwik Code -->

